<div>
  <%= form_for([@pattern,@attribute_constraint], :html => {:class => "needsNoSpace"}) do |f| %>
    <%= f.select(:attribute_name, attrib_selector(@possible_attributes), {}, {:class => "justRight"})%>
    <%= f.select(:operator, operator_selector(), {}, {:class => "veryNarrow"})%>
    <%= f.text_field(:value, {:class => "justRight"})%>
  <% end %>
</div>