<div class="node bordered">
  <%= select_tag(
        "class#{id}", 
        options_for_select(type_stuff.keys.collect{|key| [key.split("/").last, key]}),
        :'data-remote' => 'true',
        :'data-url' => graph_update_attribute_select_path(@graph, :id => id)
  )%><br />
  <div id="attributesDiv<%= id %>">
  <%= render :partial => "attributes_selector", :locals => {:attributes => type_stuff[type_stuff.keys.first][:attributes], :id => id } %>    
  </div>
</div>