<div>
  <div class="relation ge" data-id="<%= @rc.id %>" id="<%= div_id(@rc) %>">
    <%= form_for(@rc) do |f| %>
      <%= f.select(
            :rdf_type,
            options_from_collection_for_select(@possible_relations, "relation_url", "name", @rc.rdf_type),
            {},
            {:class => "needs_no_space"})
      %>
      <br />
    <% end %>
  </div>
</div>