  <div id="progress_bar_<%= job_id %>">
    <div class="well">
      <div class="row">
        <div class="col-xs-12" style="padding-left: 20px;">
          <div class="progress-status text-primary"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" style="padding-left: 20px;">
          <div class="progress progress-striped active">
            <div class="progress-bar">
              <div class="text-primary">0%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>