<%= javascript_tag do %>
  var new_relation_constraint_path = '<%= pattern_relation_constraints_path(@pattern) %>';
  var new_attribute_constraint_path = '<%= pattern_attribute_constraints_path(@pattern) %>';
<% end %>

<%= link_to 'Create Node', pattern_nodes_path(@pattern), :method => :post, :remote => true, :class => "btn", :id => "new_pattern_node" %>

<hr />

<div id="drawing_canvas" class="canvas"></div>