<div class="center_everything">
  <% @queries.each_pair do |language, query| %>
    <h3><%= language %></h3>
    <%= text_area_tag(:query_string, query, :class => "form-control full_page", :rows => 10)%><br />
  <% end %>
</div>
<%= link_to("Overview", patterns_path(), :class => "btn")%>
<%= link_to("Pattern", pattern_path(@pattern), :class => "btn btn-success")%>  