<h1>Listing ontologies</h1>

<table class="table">
  <tr>
    <th>Url</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>

<% @ontologies.each do |ontology| %>
  <tr>
    <td><%= link_to(ontology.short_name, ontology.is_a?(ExtractedOntology) ? root_path + ontology.filename : ontology.url) %></td>
    <td><%= ontology.description%></td>
    <td>
      <%= link_to 'Destroy', ontology, method: :delete, data: { confirm: 'Are you sure?' } %>
      <br />
      
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ontology', new_ontology_path, :class => "btn btn-success" %>
