<div style="float: right;"><%= link_to((fa_icon("times-circle"))) %></div>
<div>
<%= sources.map(&:qualified_type).join("<br/>") %><br />
<%= fa_icon("minus") %><br />
<%= targets.map(&:qualified_type).join("<br/>") %>
</div>