<% unless @matching_groups.blank? %>
  <ul class="correspondence-list">
  <% @matching_groups.each_pair do |source_elements, target_elements| %>
    <li class="correspondence-details">
      <%= render :partial => "show", :locals => {sources: source_elements, targets: target_elements, pattern: @pattern} %>
    </li>
  <% end %>
  </ul>
<% end %>
