<% unless @correspondences.blank? %>
  <ul class="correspondence-list">
  <% @correspondences.each_pair do |source_elements, target_elements| %>
    <li class="correspondence-details">
      <%= render :partial => "show", :locals => {sources: source_elements, targets: target_elements} %>
    </li>
  <% end %>
  </ul>
<% end %>
