<% @issues.each_with_index do |issue, i| %>
  <div style="width: 40%;">
    <%= link_to("+ ", "#", :onclick => "$('#my_list').toggle();", :id => "toggle_link_#{i}")%>
    <%= link_to(issue["title"], issue["html_url"]) %><br />
    <ul id="my_list" style="display: none;">
      <li><%= link_to("Node View") %></li>
      <li><%= link_to("Use for query") %></li>
    </ul>
  </div>
  <br />
<% end%>

<div style="float: right;" id="analyzed_feed">Hello World</div>