// Place all the styles related to the attribute_constraints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.attribute_constraints {
  position: absolute;
  padding: 5px 5px 0px 5px;
  border: 1px solid #676767;
  background-color: #48B7AB;  
  font-size: 13px;
}

div.attribute_constraints select {
  font-size: 12px;
  margin-top: 5px;  
}

div.attribute_constraints input {
  font-size: 12px;
  margin-top: 5px;
}
