// Place all the styles related to the metrics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.operator_node {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 20px;
}

.metric_node {
	border: 1px solid #CACACA;
	background-color: #EDEBEB;
	text-align: center;
  position: absolute;
}

.real_node {
	width: 370px;
	border-radius: 10px;
	min-height: 7.5em;
}