// Place all the styles related to the nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.node {
  height: 4em;
  width: 8em;
  position: absolute;
  padding: 5px;
  text-align: center;
  background: #C4C2C2;
  border: 2px solid #A8A8A8;
  border-radius: 1em;
}

div.immutable_node {
  height: 2em;
  border: 2px solid #CACACA;
}

div.double-border {
  border: 6px double #A8A8A8;
  padding: 1px;
}

div.node select{
  font-size: 0.75em;
  width: 10em;
  height: 2em;
}

div.node form{
  margin-top: 0.3em;
}

div.node_modal {
  text-align:center;
  padding-top: 10px;
}
