// Place all the styles related to the nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.node {
  height: 5em;
  width: 10em;
  position: absolute;
  padding: 5px;
  text-align: center;
  background: #48B7AB;
  border: 2px solid #676767;
  border-radius: 25px;
}

div.immutable_node {
  background: #CACACA;
  border: 2px solid #676767;
  height: 3.5em;    
}

div.node select{
  font-size: 13px;
  width: 130px;
  height: 2em;
}

div.node form{
  margin-top: 10px;
}

div.node_modal {
  text-align:center;
  padding-top: 10px;
}