// Place all the styles related to the queries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.attributeFilter {
  position: absolute;
  padding: 5px;
  border: 1px solid #676767;
  background-color: #CACACA;  
  font-size: 13px;
}

div.attributeFilter select {
  font-size: 13px;
  height: 30px;  
  font-size: 13px;
}

div.attributeFilter input {
  font-size: 13px;  
}

div.relation {
  font-size: 13px;
  background-color: white;  
  z-index: 1000;  
}

div.relation select{
  font-size: 13px;
}

div.relation input{
  font-size: 13px;
}

div.relConstraints {
  font-size: 20px;
  font-weight: bold;
}

.veryNarrow {
  width: 50px;
}

.ultraNarrow {
  width: 30px;
}

.narrow {
  width: 60px;
}

.justRight {
  width: 130px;
}

.verticalLine {
  min-height: 700px;
  width: 1px;
  position: absolute;
  left: 650px;
  top: 130px;
  border-left: 2px dotted black;
}