// Place all the styles related to the queries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.static {
  background-color: #EDEBEB;
}

div.selected {
  border: 2px solid #B22222;
}

div.matched_marked {
  border: 2px solid #19B584;
}

div.briefly_highlighted {
  border: 2px solid #F89239;
}

.very_narrow {
  width: 50px;
}

.narrow {
  width: 60px;
}

.a_tad_bigger {
	width: 100px;
}

.just_right {
  width: 130px;
}

div.translation_controls {
  position: absolute;
  width: 95%;
  margin-left: 12em;
  border-left: 1px solid #cacaca;
  min-height: 900px;
  padding-left: 10px;
}

div.center_everything {
  margin: 0 auto;
  text-align: center;
}

#editor_controls select {
  font-size: 0.75em;
  width: 10em;
  height: 2em;
}

#editor_controls input {
  font-size: 0.75em;
  width: 7em;
  height: 1em;
}

.full_page {
  width: 95%;
}

.jGrowl .warning {
  color: #000;
}

.jGrowl .error {
  border: 3px solid #CC3412;
  color: #000;
}

.jGrowl .notice {
  border: 3px solid #3E9117;
  color: #000;
}

.jGrowl .info {
  border: 3px solid #17B3E3;
  color: #000;
}

._jsPlumb_endpoint {
  z-index:60;
}

.ge {
  z-index: 59;
}

.correspondence-overview {
  position: fixed;
  top: 60px;
  right: 0;
  width: 300px;
  overflow: scroll;
  padding: 5px;
  border-top-left-radius: 1em;
}

.correspondence-list {
  list-style-type: none;
  margin-left: 10px;
}

.correspondence-list li {
  border: 1px solid #17B3E3;
  padding: 5px 10px 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}