// Place all the styles related to the queries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.static {
  background-color: #CACACA;    
}

div.selected {
  border: 2px solid #B22222;
}

.very_narrow {
  width: 50px;
}

.narrow {
  width: 60px;
}

.just_right {
  width: 130px;
}

div.translation_controls {
  position: absolute; 
  width: 95%;
  margin-left: 12em;
  border-left: 1px solid #cacaca; 
  min-height: 900px;
  padding-left: 10px;
}

div.center_everything {
  margin: 0 auto;
  text-align: center;
}

.full_page {
  width: 95%;
}

div.jGrowl div.warning {
  color: #000;
}

div.jGrowl div.error {
  border-color: #CC3412;
  color: #000;
}

div.jGrowl div.notice {
  border-color: #3E9117;
  color: #000;
}