// Place all the styles related to the relations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.relation {
  font-size: 0.75em;
  z-index: 1000;
  padding: 5px;
  background: rgba(255,255,255,0.0);
}

div.relation select{
  font-size: 1em;
  width: 10em;
}

div.relation input{
  width: 2em;
  height: 1em;
  font-size: 1em;
}

form.edit_relation_constraint {
  padding: 5px;
}
